.providers {
    width: 70%;
    padding: 30px 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .providers {
        width: 100%;
        padding: 30px 32px 0;
    }
}

@media only screen and (max-width: 660px) {
    .providers {
        padding: 35px 16px 0;
    }
}