.loader {
    &__dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: var(--blue);
        animation: dot-keyframes 1.5s infinite ease-in-out;

        &:nth-child(1) {
            left: calc(50% - 32px);
            animation-delay: .5s;
        }

        &:nth-child(2) {
            animation-delay: 1s;
        }

        &:nth-child(3) {
            left: calc(50% + 32px);
        }
    }
}

@keyframes dot-keyframes {
    0% {
        opacity: .4;
        transform: scale(0.75, 0.75) translate(-50%, -50%);
    }

    50% {
        opacity: 1;
        transform: scale(1, 1) translate(-50%, -50%);
    }

    100% {
        opacity: .4;
        transform: scale(0.75, 0.75) translate(-50%, -50%);
    }
}