.button {
    box-sizing: border-box;
    padding: 14px 31px 14px;
    border: 2px transparent solid;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--bright);
    font-family: 'Neuzeit Grotesk', sans-serif;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;

    &:hover:not(:disabled) {
        background-color: #fff;
        color: var(--orange);
        border: 2px var(--orange) solid;
    }

    &:disabled {
        opacity: 50%;
        cursor: auto;
    }
}