.circle {
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    line-height: 21px;
    background-color: var(--btn-txt);
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    border: solid 2px var(--dark-txt);

    &.active {
        color: var(--btn-txt);
        background-color: var(--blue);
        border: solid 2px var(--blue);
    }
}