.step-one {
    flex-grow: 1;
    padding: 28px 100px 0;
    font-family: 'Neuzeit Grotesk', sans-serif;
    color: var(--dark-txt);

    &__title {
        width: 60%;
        max-width: 500px;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 42px;
        line-height: 48px;
        letter-spacing: -0.01em;
    }

    &__subtitle {
        margin: 28px 0 0;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -0.01em;
    }

    &__description {
        font-size: 16px;
        line-height: 28px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        max-width: 370px;

        .button {
            width: 65%;
            min-width: 216px;
            align-self: flex-end;
        }
    }

    &__btn-no-adress {
        margin: 0 0 28px;
        background-color: transparent;
        font-size: 16px;
        line-height: 28px;
        font-family: 'Neuzeit Grotesk', sans-serif;
        color: var(--blue);
        border: none;
        cursor: pointer;
    }

    &__number-of-results {
        margin: 28px 0 14px;
        padding: 0;
        color: var(--blue);
    }

    &__list {
        width: 40%;
        max-width: 370px;
        max-height: 315px;
        margin: 14px 0 28px;
        background: var(--bright);
        box-shadow: 0px 4px 16px #CCCCCC;
        border-radius: 5px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 92%, #CCCCCC 100%);
        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }

    .button {
        margin: 0 0 56px;
        width: 25%;
    }
}