@import './variables.css';
@import './font.css';

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Neuzeit Grotesk', sans-serif;
  color: var(--dark-txt);
  background-color: var(--bgc);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}