:root {
    --bgc: #F9FAFB;
    --dark-txt: #001429;
    --gray-txt: #A3A3A3;
    --medium-gray: #637381;
    --dark-gray: #666;
    --orange: #FF782D;
    --bright: #FFF;
    --blue: #4F4CED;
    --green: #32CE8D;
}