.background {
    width: 50%;
    z-index: -1;
    overflow: hidden;

    &__wrap-img:nth-child(1) {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__wrap-img:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(30%);
    }

    &__wrap-img:nth-child(3) {
        position: absolute;
        top: 120px;
        right: 0;
    }

    &__ellipse-blue,
    &__ellipse-purple,
    &__arrows {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .background {

        &__wrap-img:nth-child(3) {
            display: none;
        }

    }
}